.glass {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 16px;
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  @apply border-4 border-gray-50 shrink-0 h-auto w-5/6 rounded-3xl px-7 py-5 text-center  max-w-[50%];
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.profileImg {
  @apply border-4 border-gray-100 w-[135px] h-[135px] rounded-full shadow-lg cursor-pointer;
  @apply hover:border-gray-200;
}
.text_box {
  @apply border-none p-4 rounded-xl w-5/6 shadow-lg text-lg mb-5;
  @apply focus:outline-none;
}

.btn {
  @apply border bg-indigo-500 w-5/6 py-4 mb-3 rounded-lg text-gray-50 text-xl shadow-sm text-center;
}
.btn:hover {
  background: #ff6a6a;
}
.hadding {
  font-size: 24px;
  font-weight: bold;
}
.dname {
  background: rgb(255, 255, 0);
  padding: 0 3px;
  text-transform: capitalize;
}
.h2 {
  font-size: 22px;
  font-weight: bold;
}
